# osx
.DS_Store
.idea

# node.js
build
node_modules
package-lock.json
tsconfig.json
yarn-error.log
yarn.lock

# remove once project is cloned
# -------------------------------------------------------------------
package.json
# -------------------------------------------------------------------